.iconproject-size{
  font-size: 21px !important;
}
.icontableEditSize{
  font-size:15px !important;
  color:#00a0e9 !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconoffline-strategy-size,.iconsand-size,.iconmodel-size,.iconcosuming-size{
  font-size: 21px !important;
  font-weight: normal;
  vertical-align: middle;
}
.icononline-strategy-size{
  font-size: 22px !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconrule-size{
  font-size: 22px !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconmonititor-size{
  font-size: 19px !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconapplication-size{
  font-size: 21px !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconedit-size,.iconalert-size,.iconSampleForm-size{
  font-size: 18px !important;
  font-weight: normal;
  vertical-align: middle;
}
.iconChampion-size{
  color:#fe8107 !important;
  font-size:20px;
}
.iconBoxing-size{
  color:#00a0e9 !important;
  font-size:20px;
}
.iconclose-size{
  font-size:20px;vertical-align: top;color: #00a0e9;
}
.iconsearch-size{
  font-size:20px;vertical-align: top;color: #AFAFAF;
}
.iconfolder-light{
  font-size:32px;vertical-align: top;color: #00a0e9;
}
.iconfolder-grey{
  font-size:32px;vertical-align: top;color:#cccccc;
}

.iconstrategyTest-size{
  font-size:40px;vertical-align: top;color: #00a0e9;
}
.iconXiasanjiao-copy-size{
  font-size:20px;vertical-align: top;color: #00a0e9;
}
.iconhuanjingpeizhi-size{
  font-size:40px;vertical-align: top;color: #00a0e9;
}
.iconeye-size{
  font-size:13px;
  display: inline-block;
  margin-top:5px;
}

.iconActive{
  color:#00a0e9;
}
.iconDeactive{
  color:#f7f7f7;
  text-decoration:none;
}
.icon-f20{
  font-size: 20px !important;
  vertical-align: middle;
  padding:0 5px 0 5px;
  text-decoration:none;
}
.icon-f18{
  font-size: 18px;
  text-decoration:none;
}
.icon-unuse{
  color:#afafaf;
  text-decoration:none;
}
.icon-margin{
  margin: 0 3px;
}

.icon-back-size{
  float: right;
  font-size: 20px;
  color: #00a0e9;
}

.iconinput-fileuploader-size{
  color: #00a0e9;
  font-size:30px;
}
.iconbiaoge-size{
  font-size:30px;
  color:#8cba5f;
}